* {
    box-sizing: border-box;
}

/* tree */
body > table {
    width: 100%;
}
body > table tr > td:nth-child(3) {
    text-align: right;
}
body > table tr:hover {
    box-shadow: inset 0 0 0 1px #bcd;
}

/* Make room for 4 16x16 icon on the left, with 5px padding on either
 * side */
body > table tr td:first-of-type {
    padding-left: 24px;
    background-size: 14px 16px;
    background-repeat: no-repeat;
    background-position: 5px 5px;
    margin-left: 20px;
}
body > table tr.tree td:first-of-type {
    background-image: url("/static/octicons/lib/svg/file-directory.svg");
}
body > table tr.tree.parent td:first-of-type {
    background-image: url("/static/octicons/lib/svg/arrow-up.svg");
}
body > table tr.blob td:first-of-type {
    background-image: url("/static/octicons/lib/svg/file.svg");
}
body > table tr.commit td:first-of-type {
    background-image: url("/static/octicons/lib/svg/file-submodule.svg");
}

/* blob */
body > form {
    display: block;
    border: solid 1px black;
    margin: 1em 0;
    padding: 0.5em;
}
body > form > * {
    margin: 0.4em 0;
}
label {
    display: block;
}
textarea {
    width: 100%;
    height: 30em;
    font-family: monospace;
}
input[type=text] {
    width: 100%;
}
input[type=file] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #EEEEEE;
    border-radius: 4px;
}

/* misc */
kbd, code, samp, tt, pre {
    background: #DDDDFF;
    white-space: pre;
}
pre {
    margin: auto 2em;
    padding: .5em;
    overflow: auto;
    border: solid 1px #AAAAAA;
}

aside {
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #ddd;
    background: rgb(240, 240, 240);
    opacity: 0.7;
}

/* CodeMirror */
.CodeMirror {
     /* match Firefox's built-in style for textearea */
    border: 1px solid rgb(232, 232, 231);
}
.CodeMirror .cm-trailingspace {
    background-image: url("errline.png");
    background-position: bottom left;
    background-repeat: repeat-x;
}
.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background-image: url("errline.png") !important;
    background-position: bottom left !important;
    background-repeat: repeat-x !important;
    background-color: transparent !important;
}
